*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
}
header{
    display: flex;
    justify-content: center;
    
}
.conteiner{
    display: flex;/*deixar o conteiner flexivel*/
    justify-content: space-between; /*deixa a Logo e Menu um em um e o outro no outro canto*/
    width: 80%;
    background-color: antiquewhite;
    
    
}
 img{
    width:90% ;
    height: 100%;
}
.logo{
    
    display: flex;
    align-items: center;
}
.menu{

}
nav ul,nav li{
    list-style:none; /*Remover os pontos do Ul e LI*/
    padding: 0;
    margin: 0;
}
