*{
    font-family: Arial;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center; /*centraliza a Div*/
    height: 120px;
}
.conteiner{
    justify-content: space-between; /*coloca um conteudo de na direita e outra a esquerda*/
    display: flex;
    width: 990px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display:flex; /*deixa o conteúdo flexivel*/
    align-items:center; /*centraliza o conteudo Ul e LI*/
}
nav ul,nav li{
    list-style:none; /*tira todo espaçamento e os pontos do li */
    margin: 0;
    padding: 0;
}
nav ul{
    display:flex; /*deixa o conteúdo ul e li em direção horizontal e fex*/ 

}
nav a{
    display:block; /*com esse atributo podemos alterar tamanho e cores e etc...*/
    padding: 15px; /*deixa o tamanho de 15 px*/
    text-decoration:none; /*retira a sumblinhação das tags a*/
    text-transform:uppercase; /*deixa todo as letras maiúsculas mesmo que no html esteja menusculo*/
    color:#727272;
    font-family:arial;
    
}
nav .active a, nav a:hover{ /*deixar o efeito como :hover*/
    background-color:#39aae1 ;
    color:aliceblue
}

/*Aria do primeiro banner*/
#banner{
    display: flex;
    justify-content: center;
    background-image:url('../images/img1.jpg'); /*adicionado imagem via css*/
    background-position:center;
    background-size:cover; /*significa que a imagem ficarar responsiva de acordo do tamanho do aparelho que abri-la*/
}
/*alinhando as calunas do aria texto 1 e 2*/
.column{
    flex-direction: column;
}
.aria_texto1{
    flex: 1; /*deixa o na posição de colunas*/
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.aria_texto1 h1{
    color:azure;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width:350px;
}
.aria_texto1 h2{
    color:azure;
    font-size: 20px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width:350px;
    margin-top: 30px;
}
.aria_texto2{
    height: 210px; /*definindo altura para a aria texto2*/ 
    display:flex;
}
.banner1,
.banner2,
.banner3{
    flex: 1;
    color:#fff;
    padding: 20px;    
}
.banner1{
    background-color: #39aae1;
    
    
}
.banner2{
    background-color: #0079c7;
    
    
}
.banner3{
    background-color:#2b4c99;
    
    
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    margin-top: 20px;
    margin-bottom:20px;
}
.aria_texto2 a{
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
}
.banner_horario{
    display:flex ;
    justify-content: space-between; /*daixa o conteúdo um em cada canto*/
    border-bottom: 1px solid #727272;
    padding: 12px 0px;
}
               /*Começa aqui o banner 2*/
#geral{
    display:flex;
    justify-content:center;
}
#geral section{
    flex:2; /*deixou o conteúdo mais perto*/
}
#geral aside{
    flex:1;
}
.widget{
    width: 750px;
}
.widget_title{
    margin-top: 30px;
    margin-bottom:20px;
}
.widget_title_text{
    color:#000000;
    font-size: 21px;
    font-weight: bold; /*Deixa a fonts grande */
}
.widget_title_bar{
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}
                /*estilização das noticias*/
article .news_data{
    display: flex;
}
article .news_posted_at{
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments{
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}
/*imagem*/
article .news_thumbnail img{
   width: 100%;
   height: auto;
}
article .news_thumbnail{
    margin-top: 30px;
}
/*Texto a baixo da imagem*/
article .news_title{
    margin-top: 25px;
    bottom:25px;
    color: #000000;
    font-size: 23px;
}
article .news_resume{
    margin-top: 30px;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px; /*da espaçamento entra as letras do texto */
}
article a{
    text-decoration: none;
}
/*organizando as noticias uma ao lado da outra usando o FLex box*/
.flex{
    display: flex;
    flex-wrap: wrap; /*para quebra de linhas dos banners*/
}
article{
    flex:1;
    min-width:300px;/*so quebra linha se colocar um tamanho pode ser do seu agrado ou de acordo com o projeto*/
    margin-right: 20px;
}

/*Aria dos aquadrados Azus*/
.flex_container {
    display: flex;
    gap: 10px; /* espaço entre colunas */
    margin-top:10px ;
}

.coluna {
    display: flex;
    flex-direction: column;/*direção da coluna*/
    gap: 20px; /* espaço entre quadrados na coluna */
}

.quadrado {
    width: 113px;
    height: 112px;
    background-color: #39aae1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
           /*Ária das informações*/
    p{
        width:240px ;
        text-align: justify;
        font-size: 15px;

    }
    .linha_horizontal{
        width: 240px;
        height: 1px;
        background-color:#727272;
    }
    .telefone{
        font-size: 15px;
        margin-top:10px;
        margin-bottom: 10px;

    }
           /*Aria do Roda pé*/
footer{
   background-color:#1e1e1e;
   display: flex;
   justify-content:center;
}
.aria_banner_bottom{
    display: flex;
    
}
.banner_bottom1,
.banner_bottom2,
.banner_bottom3{
    flex: 1;
    color:#fff;
    padding: 20px;
    font-size: 20px;
}
.banner_bottom1{
    background-color:#39aae1;
    
}
.banner_bottom2{
    background-color:#0079c7;
    
}
.banner_bottom3{
    background-color:#2b4c99;
    
}
.title{
    font-size:25px;
}
.sub_title{
    font-size: 16px;
}
        /*Rodapé footer*/
.footer_area{
    display: flex; 
}
.footer_ariaitem{
    flex: 1;
    color: #fff;
}
.footer_item5{
    flex: 1;
    color:#727272;
    width: 300px;
}
.medi_contatos {
    display:flex ;
    justify-content: space-between; /*daixa o conteúdo um em cada canto*/
    padding: 10px 0px;
    font-size: 15px;
}
.footer_item5 a{
    color:#727272;
    display: block;
    text-decoration: none;
}
.email{
    color:#f1eded ;
}
.flexColunm{
    flex-direction: column;
}
.widget_title_text1{
    font-size: 21px;
}
.newtexto1 p{
    margin-bottom:20px;
    margin-top: 30px;
    font-size: 15px;
    color: #727272;
    
}
.newstexto2,.texto2{
    margin-top: 30px;
    margin-bottom: 2px;
    font-size: 15px;
    color: #f1eded;
}
.newstexto3,.texto3{
    margin-top: 30px;
    margin-bottom: 2px;
    font-size: 15px;
    color: #727272;
}
.sublinhado{
    color: #f1eded;
}
.text_blue{
    margin-top: 5px;
    color: #36a9e1;
}
.direitos{
    border-top: 1px solid #2c2c2c;
    color:#5c5c5c ;
    height: 40px;
    line-height:40px;
    font-size: 12px;
    margin-top:30px;
}
/* Aria do @media ou Responsividade */
@media (max-width: 600px){
        .aria_texto1{
            padding: 20px;
        }
        .aria_texto1 h1{
            font-size:55px;
        }
        .aria_texto1 h2{
            font-size:17px;
        }
        .aria_texto2{
            height: auto;
            flex-direction: column;
        }
        .widget_body{
            flex-direction: column;
        }
        .widget_title{
            padding: 90px;
            margin-top: -90px;
        }
        .news_resume{
            padding:80px;
            margin-bottom: -80px;
            
            font-size: 20px;

        }
        
        #geral section, #geal aside{
            padding:20px;
        }
        .conteiner{
            flex-direction:column
        }
        .aria_banner_bottom{
            flex-direction: column;
            
        }
        .footer_area{
            flex-direction: column;
            padding: 20px;
        }
        .direitos{
            padding: 20px;
        }
}